body {
    background-color: #576069;
    color: #eadfd8;
    font-family: sans-serif;
}
.contain {
    padding-left: 5em;
    padding-right: 5em;
}
.nav {
    padding-top: 1em;
    padding-bottom: 1em;
}
